body {
    overflow: hidden;
    visibility: visible;
    background-image: url("./media/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    
}

#board {
    height: 70vh;
    width: 70vw;
    margin: 0 0 0 15vw;
    border: solid black 1px;
    z-index: 1;
    overflow: hidden;
    background: url("./media/wp7872665.webp");
    background-size: cover;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
}

.player {
    position: absolute;
    background: url("./media/ufo-marten.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.obstacle {
    position: absolute;
    background: url(./media/block.png);
    background-size: 100%;
    border-radius: 50px;
    display: inline-block;
    
}
#gameOver {
    font-size: 30px;
    z-index: 100;
    margin:auto;
    position: relative;
    margin: 0;
    text-align: center;
    visibility: hidden;
    
}
body button{
    margin-top: 0px;
}

.name{
    font-size: 100px;
    text-align: center;
    margin: 0px;
    color: red;
    
}

#score{
    font-size: 5vh;
    position: relative;
    margin: 0;
    color: red;
}

.score-box{
    font-size: 5vh;
}
